SAVE_tmp_files/
.RData
.Rhistory
resources/
results/
Results/
SMALL/
.snakemake/
SAVE_ID_0.4_Results/
SAVE_Results/
TEST_out/
tmp_files/
SAVE_MOCK_classical_tmp/
Nygaard/
config/Tests_with_real_dataset
config/Model_testings
config/Database_testing